<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="customCSS.css" type="text/css" />
</head>

<body>
    <h1>Pizzas</h1>
    
    <ul class="pizza">

    </ul>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="customJS.js"></script>
    <script type="text/javascript" src="/Controller/socket.js"></script>
    <script>
    
        var socket = io.connect('https://meanstackpizzasfactory-honayme.c9users.io/');
        
        socket.on('message', (data) => {
            alert(data.hello);
        });
    </script>
</body>

</html>